version: '3.8'

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant-rag
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_data:/qdrant/storage
    networks:
      - rag-network

  streamlit_app:
    build: .
    container_name: rag-app
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    environment:
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
      - QDRANT_URL=http://qdrant:6333
    depends_on:
      - qdrant
    command: streamlit run src/app/main.py --server.port 8501 --server.address 0.0.0.0
    networks:
      - rag-network

networks:
  rag-network:
    driver: bridge
